<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link href = "/static/css/bootstrap.min.css" rel = stylesheet media = "screen">
</head>
<body>
    <div class = "container">
        <h2>File Data</h2>
        {{file}}
        <table class = "table">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>ETA to analysis</th>
                    <th>ETA to complete</th>
                    <th>Analysis Complete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ file['detonation_results']['status'] }}
                    </td>
                    <td>
                        {{ file['detonation_results']['eta_to_analysis'] }}
                    </td>
                    <td>
                        {{ file['detonation_results']['eta_to_complete'] }}
                    </td>
                    <td>
                        {{ file['detonation_results']['analysis_complete'] }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>